# Configuration file

general {
    # Access key is like user ID that uniquely identifies your account
    S:access_key=Q3AM3UQ867SPQQA43P2F
    S:bucket_name=minecraft
    B:delete_after_upload=false

    # Enable/Disable upload via S3
    B:enable=false

    # The maximum amount of backup objects to keep in bucket (0 = all)
    # Min: 0
    # Max: 2147483647
    I:keep_latest=10

    # Secret key is the password to your account
    S:secret_key=zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG

    # URL to object storage service
    S:url=https://play.min.io
}


